
<!-- <div class="navigation">
  <ul>
    <li (click)="setActiveChartIndex(0)" [class.active]="activeChartIndex === 0">PieChart</li>
    <li (click)="setActiveChartIndex(1)" [class.active]="activeChartIndex === 1">Line Chart</li>
    <li (click)="setActiveChartIndex(2)" [class.active]="activeChartIndex === 2">Area Chart</li>
    <li (click)="setActiveChartIndex(3)" [class.active]="activeChartIndex === 3">Bar Chart</li>
    <li (click)="setActiveChartIndex(4)" [class.active]="activeChartIndex === 4">Scatter Chart</li>
    <li (click)="setActiveChartIndex(5)" [class.active]="activeChartIndex === 5">Donut Chart</li>
    <li (click)="setActiveChartIndex(6)" [class.active]="activeChartIndex === 6">Spline Chart</li>
  </ul>
</div> -->

<div class="charts">
  
  <div class="chart-container" *ngIf="activeChartIndex === 0">
    <div class="chart-title">Pie Chart</div>
    <div class="pie" [chart]="pieChart"></div>
  </div>

  <div class="chart-container" *ngIf="activeChartIndex === 1">
    <div class="chart-title">Line Chart</div>
    <div class="line" [chart]="lineChart"></div>
  </div>

  <div class="chart-container" *ngIf="activeChartIndex === 2">
    <div class="area" [chart]="areaChart"></div>
  </div>

  <div class="chart-container" *ngIf="activeChartIndex === 3">
    <div class="bar" [chart]="barChart"></div>
  </div>

  <div class="chart-container" *ngIf="activeChartIndex === 4">
    <div class="scatter" [chart]="scatterChart"></div>
  </div>

  <div class="chart-container" *ngIf="activeChartIndex === 5">
    <div class="scatter" [chart]="donutChart"></div>
  </div>

  <div class="chart-container" *ngIf="activeChartIndex === 6">
    <div class="scatter" [chart]="splineChart"></div>
  </div>

  <div class="chart-container" *ngIf="activeChartIndex === 7">
    <div class="scatter" [chart]="coloumnChart"></div>
  </div>

  <div id="timelineChart" class="chart-container" *ngIf="activeChartIndex === 8">
    <div class="scatter" [chart]="timelineChart"></div>
  </div>

  <div id="timelineChart" class="chart-container" *ngIf="activeChartIndex === 9">
    <div class="scatter" [chart]="dumbellChart"></div>
  </div>

  <div id="timelineChart" class="chart-container" *ngIf="activeChartIndex === 10">
    <div class="scatter" [chart]="lollipopChart"></div>
  </div>

  <div id="timelineChart" class="chart-container" *ngIf="activeChartIndex === 10">
    <div class="scatter" [chart]="bubbleChart"></div>
  </div>
</div>

<div class="navigation">
  <button (click)="prevChart()" [disabled]="isFirstChart()">Previous</button>
  <button (click)="nextChart()" [disabled]="isLastChart()">Next</button>
</div>